### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule hire-a—web-programmer index.html
RewriteRule who-am-i who.html
RewriteRule offer-off-webpage-creation-www offer.html
RewriteRule cv-programmer-php-javascript cv.html
RewriteRule contact-programmer-php-front-end-developer contact.html